/*  your css code here. If applicable */
.container{
	display:flex;
	justify-content:center;
	align-items:absolute;
}
.box{
	width:450px;
	height:200px;}
img{
	width:100%;
	height:100%;
	object-fit:cover;
}
button{
	padding:auto;
	background-color:red;
	color:white;
	border-radius:2px;
	
}
	a{text-decoration:none; color:white}